.inputBar {
    display: flex;
    margin: 1rem;
    width: 330px;
    justify-content: space-between;
    z-index: 100;
}

.inputBar input {
    font-size: 17px;
    padding: 0.5rem 1rem;
}

.inputBar button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgb(60, 60, 253);
    color: white;
    border-radius: 0.3rem;
    outline: none;
    cursor: pointer;
}

.inputBar button:hover {
    background-color: rgba(60, 60, 253, 0.8);
}